<head>
    <title>todo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        {{> header}} {{> main}} {{> todos}} {{> form}}
    </div>
</body>